body{
    background:linear-gradient(red, yellow, red);

}

h1{
    font-family: trebuchet MS;
    font-size: 75px;
    font-style:bold;
    border-style:dotted;
    text-align:center;
}
h2{
    font-family: trebuchet MS;
    text-align:center;
}

img{
    height: 20%;
    width:20%;
    display:block;
    margin-left: auto;
    margin-right:auto;
}

#today{
    font-family:trebuchet MS;
    text-align:center;
    font-size: 35px;
    border-style: double;
    border-width: 30px;
    border-color:red;
    background-color:lightgrey;
    border-radius: 15px; 
}
#heartPizza{
    height: 10%;
    width:10%;
    display:block;
}
.pizzaName{
    font-size: 40px;
    color
}


#menu{
    text-align:center;
}


.sectionTitle{
    font-family:trebuchet MS;
    font-size: 40px;
    text-align:center;
}
a:hover{
    color: green;
}
#intro{
    font-family:trebuchet MS;
    font-size: 25px;
}


.pizzaName{
    font-size: 35px;
}

#subscribe{
    font-family:trebuchet MS;
    font-size: 20px;
    text-align:center;
}

#credit{
    font-family:trebuchet MS;
    font-size: 15px;
    text-align:center;
}

#copyright{
    font-family:trebuchet MS;
    font-size: 10px;
    text-align:center;
}